<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dog Breed Classifier (Udacity Artificial Intelligence Nanodegree)">
    <meta name="author" content="Thomas Tartière">

    <title>Dog Breed Classifier</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!-- Ladda -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.6/ladda-themeless.min.css" rel="stylesheet" id="ladda-css">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Dog Breed Classifier</h1>
      <p class="lead">Using Transfer Learning to identify a dog breed!</p>
      <p>Please upload a photo of a dog or human.</p>

      <form id="upload-file" method="post" enctype="multipart/form-data" >

        <div id="messages"></div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        Browse… <input type="file" name="file" id="imgInp">
                    </span>
                </span>
                <input type="text" class="form-control" readonly>
            </div>
            <img id='img-upload' src="{{src_file}}"/>
        </div>

        <button id="upload-file-btn" value="Analyze" class="btn btn-primary ladda-button" data-style="expand-left">
            <span class="ladda-label">Analyze</span>
        </button>
    </form>            

    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Built by <a href="https://github.com/tartieret">Thomas Tartière</a>.</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.6/spin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.6/ladda.min.js"></script>    
    
    <script type="text/javascript">

        /*========================= Message display ====================== */

        function alert_box(message, type) {
            var box = '<div class="alert alert-'+type;
            box += ' alert-dismissible" role="alert">';
            box += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
            box += message;
            box += '</div>';       
            return box;
        }

        function display_result(message) {
            var box = alert_box(message, "success");           
            $('#messages').html(box);
        }

        function display_error(message) {
            var box = alert_box(message, "danger");           
            $('#messages').html(box);
        }

        /*========================= Manage image selection ====================== */
        $(document).ready( function() {

            // Bind Ladda to the submission button
            Ladda.bind('#upload-file-btn');
    
            /* Display the name of the selected file in the select box */
            $(document).on('change', '.btn-file :file', function() {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });
    
            $('.btn-file :file').on('fileselect', function(event, label) {
                
                var input = $(this).parents('.input-group').find(':text'),
                    log = label;
                
                if( input.length ) {
                    input.val(log);
                } else {
                    if( log ) alert(log);
                }
            
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    
                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }
                    
                    reader.readAsDataURL(input.files[0]);
                }
            }
    
            $("#imgInp").change(function(){
                readURL(this);
            }); 	

            /*========================= Image submission ====================== */
            $('#upload-file-btn').click(function(e) {
                e.preventDefault();

                // start spinning animation
                console.log('Create Ladda')
                var l = Ladda.create($('#upload-file-btn')[0]);
	 	        l.start();

                console.log('Sending AJAX request')
                // select form data
                var form_data = new FormData($('#upload-file')[0]);
               
                $.ajax({
                    type: 'POST',
                    url: '/analysis',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: false,
                    success: function(data) {
                        console.log('Success!');
                        if(data.hasOwnProperty('description')) {
                            // display the results
                            display_result(data.description);
                        } else {
                            display_error("No description found");
                        }                        
                    },
                    error: function(data) {
                        console.log('Error!');                        
                        display_error(data.responseJSON.message);
                    },
                    complete: function(XMLHttpRequest, type) {
                        console.log('All done');
                        // stop spinning animation
                        Ladda.stopAll();
                    }
                });

                return false;                
            });


        });

    
    </script>    

</body>
</html>

